<section class="page_404">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center">

					<div class="four_zero_four_bg">
						<h1 class="text-center ">ERROR 404</h1>
					</div>

					<div class="contant_box_404">
						<h3 class="h2">
							Looks like you're lost
						</h3>

						<p>the page you are looking for is not available!</p>

						<a routerLink="/" class="link_404">
							<span>Go Home</span>
						</a>

						<a (click)="back()" class="link_404">
							<span>Go Back</span>
						</a>
					</div>

			</div>
		</div>
	</div>
</section>















































