<footer	class="container-fluid">
	<div class="row">
		<div class="col-12">
			<ul class="social-icons" >
				<li>
					<a href="https://www.facebook.com/TBWAinAfrica/" target="_blank">
						<img src="../assets/images/icon-facebook.png" alt="Facebook Icon" class="" />
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/tbwaafrica/" target="_blank">
						<img src="../assets/images/icon-instagram.png" alt="Instagram Icon" class="" />
					</a>
				</li>
				<li>
					<a href="https://twitter.com/TBWAAfrica" target="_blank">
						<img src="../assets/images/icon-twitter.png" alt="Twitter Icon" class="" />
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/company/tbwa-south-africa/" target="_blank">
						<img src="../assets/images/icon-linkedin.png" alt="LinkedIn Icon" class="" />
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-8 col-md-8">
			<div class="d-flex justify-content-start">
				<!--Built on planet 🌎 by a few good pirates.-->
				&copy; University Of Programing <sup style="line-height: 1;top:0;">&reg;</sup> company
			</div>
		</div>
		<div class="col-4 col-md-4">
			<div class="d-flex justify-content-end">
				<!--
				<small>v.4.0.1</small>
				-->
				<a href="https://www.tbwa.co.za/policies/privacy-policy.html" target="_blank" class="u-text-white">Privacy Policy</a>
			</div>
		</div>
	</div>
</footer>
