<div class="row">
	<div class="col-12" style="text-align: center;">
		<a [routerLink]="['../../']">
			<img src="./assets/images/tbwa_logo_white.png" class="form-logo" />
		</a>
	</div>
</div>
<div class="card-body">

	<mat-card-title>
		Reset Password
		<br />
		<div *ngIf="tokenStatus === TokenStatus.Validating">
			Validating token...
		</div>
		<div *ngIf="tokenStatus === TokenStatus.Invalid">
			Token validation failed, if the token has expired you can get a new one at the <a routerLink="../forgot-password">forgot password</a> page.
		</div>
	</mat-card-title>
	<br />

	<form class="form-password-reset" *ngIf="tokenStatus === TokenStatus.Valid" [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="form-row row">
			<div class="form-group  col-12 col-md-6">
				<div class="mate-form-field-flex">
				<mat-form-field class="mat-form-field" appearance="fill">
					<mat-label>Password</mat-label>
					<input matInput type="password" placeholder="" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
					<mat-error *ngIf="submitted && f['password'].errors" class="invalid-feedback">
						<div *ngIf="f['password'].errors['required']">Password is required</div>
						<div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
					</mat-error>
				</mat-form-field>
				</div>
			</div>
			<div class="form-group  col-12 col-md-6 ">
				<mat-form-field class="mat-form-field" appearance="fill">
					<mat-label>Confirm Password</mat-label>
					<input matInput type="password" placeholder="" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
					<mat-error *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
						<div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
						<div *ngIf="f['confirmPassword'].errors['mustMatch']">Passwords must match</div>
					</mat-error>
				</mat-form-field>
			</div>
		</div>

		<mat-card-actions>
			<div class="form-group">
				<button [disabled]="loading" mat-flat-button color="primary">
					<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
					Reset Password
				</button>
				<a routerLink="../login" mat-stroked-button color="accent">Cancel</a>
			</div>

		</mat-card-actions>
	</form>
</div>
