//
// Helpers with typical values that you need,
// in the app, by default we usually use
// Bootstrap utilities but, you can define more here.
//
// How to use:
// <div class="u-align-center">
//

@import 'variables';
@import './mixins/map-utilities';

.u {

	&-align {
		&-center {
			text-align: center;
		}

		&-left {
			text-align: left;
		}

		&-right {
			text-align: right;
		}
		&-vertical {
			&-center {
				align-items: center;
			}
		}
		&-mobile {
			&-center {
				text-align: center;
			}
	
			&-left {
				text-align: left;
			}
	
			&-right {
				text-align: right;
			}
			&-vertical {
				&-center {
					align-items: center;
				}
			}
		}
	}

	&-font {
		&-uppercase {
			text-transform: uppercase;
		}

		&-lowercase {
			text-transform: lowercase;
		}
	}

	&-list {

		&-unstyled {
			list-style: none;
		}
	}

	&-margin {

			&-top {

					&-20 {
						margin-top:20px;
					}

			}

			&-bottom {

				&-20 {
					margin-bottom:20px;
				}

			}

			&-left {

				&-20 {
					margin-left:20px;
				}

			}

			&-right {

				&-20 {
					margin-right:20px;
				}

			}

	}

	@include map-utilities(color, get-color, secondary, dark); 
}
