@import  '../../../../../../theme/app.global.scss';


.filters-container {
	.mat-form-field {
		width: 100%;
	}

	.filter-status-toggle {
		display:flex;
		flex-direction:column;
		align-items: flex-end;
		justify-content: flex-start;
	}
}
