<div class="row">
	<p>
		<mat-toolbar>
		  <span>University of Programing</span>
		  <span class="example-spacer"></span>
		  <a
				[routerLink]="['/']"
				class="button-black" >
					<span class="skew-fix">Home</span>
			</a>
			<a
				[routerLink]="['/','about']"
				class="button-black" >
					<span class="skew-fix">About</span>
			</a>
			<a
				[routerLink]="['/', 'auth', 'register']"
				class="button-black" >
					<span class="skew-fix">Register</span>
			</a>
			<a
			[routerLink]="['/', 'auth', 'login']"
			class="button-black loginBtn" >
				<span class="skew-fix">login</span>
		</a>
		</mat-toolbar>
	  </p>
	<div class="col-12" style="text-align: center;">
		<a [routerLink]="['../../']">
			<img src="./assets/images/tbwa_logo_white.png" class="form-logo" />
		</a>
	</div>
</div>
<mat-card class="form-card">
	<mat-card-title>
		Create an account
	</mat-card-title>
	<br />
    <form class="form-register" [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="form-row row">
			<div class="form-group col-12 col-md-6">
				<div class="mate-form-field-flex">
				<mat-form-field class="mat-form-field" appearance="fill">
					<mat-label>Title</mat-label>
					<mat-select formControlName="title" [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" required>
						<mat-option></mat-option>
						<mat-option value="Dr">Dr</mat-option>
						<mat-option value="Mr">Mr</mat-option>
						<mat-option value="Mrs">Mrs</mat-option>
						<mat-option value="Miss">Miss</mat-option>
						<mat-option value="Ms">Ms</mat-option>
						<mat-option value="Other">Other</mat-option>
						<mat-option value="Prof">Prof</mat-option>
					</mat-select>
					<mat-error *ngIf="submitted && f['title'].errors" class="invalid-feedback">
						<div *ngIf="f['title'].errors['required']">Title is required</div>
					</mat-error>
				</mat-form-field>
				</div>
			</div>
			<div class="form-group col-12 col-md-6">
				<div class="mate-form-field-flex">
				<mat-form-field class="mat-form-field" appearance="fill">
					<mat-label>Email</mat-label>
					<input matInput type="email" placeholder="" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" required />
					<mat-error *ngIf="submitted && f['email'].errors" class="invalid-feedback">
						<div *ngIf="f['email'].errors['required']">Email is required</div>
						<div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
					</mat-error>
				</mat-form-field>
				</div>
			</div>

		</div>
		<div class="form-row row">
			<div class="form-group col-12 col-md-6">
				<div class="mate-form-field-flex">
				<mat-form-field class="mat-form-field" appearance="fill">
					<mat-label>First Name</mat-label>
					<input matInput placeholder="" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" required />
					<mat-error *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
						<div *ngIf="f['firstName'].errors['required']">First Name is required</div>
					</mat-error>
				</mat-form-field>
				</div>
			</div>
			<div class="form-group col-12 col-md-6">
				<div class="mate-form-field-flex">
				<mat-form-field class="mat-form-field" appearance="fill">
					<mat-label>Last Name</mat-label>
					<input matInput placeholder="" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" required />
					<mat-error *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
						<div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
					</mat-error>
				</mat-form-field>
				</div>
			</div>
		</div>
		<div class="form-row row">
			<div class="form-group col-12 col-md-6">
				<div class="mate-form-field-flex">
				<mat-form-field class="mat-form-field" appearance="fill">
					<mat-label>ID Number</mat-label>
					<input matInput placeholder="" formControlName="IDNo" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" required />
					<mat-error *ngIf="submitted && f['IDNo'].errors" class="invalid-feedback">
						<div *ngIf="f['IDNo'].errors['required']">ID Number is required</div>
					</mat-error>
				</mat-form-field>
				</div>
			</div>
			<div class="form-group col-12 col-md-6">
				<div class="mate-form-field-flex">
				<mat-form-field class="mat-form-field" appearance="fill">
					<mat-label> Current Address</mat-label>
					<input matInput placeholder="" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" required />
					<mat-error *ngIf="submitted && f['address'].errors" class="invalid-feedback">
						<div *ngIf="f['address'].errors['required']">Current Address required</div>
					</mat-error>
				</mat-form-field>
				</div>
			</div>
		</div>
		<div class="form-row row">
			<div class="form-group col-12 col-md-6">
				<div class="mate-form-field-flex">
				<mat-form-field class="mat-form-field" appearance="fill">
					<mat-label>Password</mat-label>
					<input matInput type="password" placeholder="" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
					<mat-error *ngIf="submitted && f['password'].errors" class="invalid-feedback">
						<div *ngIf="f['password'].errors['required']">Password is required</div>
						<div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
					</mat-error>
				</mat-form-field>
				</div>
			</div>
			<div class="form-group col-12 col-md-6 ">
				<div class="mate-form-field-flex">
				<mat-form-field class="mat-form-field" appearance="fill">
					<mat-label>Confirm Password</mat-label>
					<input matInput type="password" placeholder="" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
					<mat-error *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
						<div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
						<div *ngIf="f['confirmPassword'].errors['mustMatch']">Passwords must match</div>
					</mat-error>
				</mat-form-field>
				</div>
			</div>
		</div>
		<div class="form-row row">
			<div class="form-group col-12 col-md-6 ">
				<input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }" />
				<label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
				<div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">Accept Ts & Cs is required</div>
			</div>
		</div>

		<div class="form-row row">
			<div class="form-group col-12 col-md-6 button-default button-slanted">
				<button [disabled]="loading" mat-flat-button color="primary">
					<span class="button-slanted-content">Register</span>
					<span *ngIf="loading" class="mr-1 spinner-border spinner-border-sm"></span>
				</button>
				<a routerLink="../login" mat-stroked-button color="accent"><span class="button-slanted-content">Cancel</span></a>
			</div>
		</div>

    </form>
</mat-card>
