<h1 mat-dialog-title>
	{{data.title}}:
</h1>

<div mat-dialog-content class="mat-typography">

		<div class="row" *ngIf="notice">
			<div class="col-12 col-md-12">
				<p class="p-4" style="padding-left: 0 !important;padding-right: 0 !important; text-align: center;">
					{{notice}}
				</p>
			</div>
		</div>

		<div class="row" *ngIf="data.history.length > 0">
			<div class="col-12 col-md-12">
				<table class="table table-striped" #tableDataSet>
					<thead></thead>
					<tbody></tbody>
				</table>
			</div>
		</div>

</div>

<hr />

<div mat-dialog-actions align="end" style="margin:1em auto;margin-bottom: 0;">
	<!--
	<button mat-button mat-flat-button color="primary" [mat-dialog-close]="true">
		Continue
	</button>
	-->
	<button mat-button mat-stroked-button color="accent" [mat-dialog-close]="false" cdkFocusInitial>
		Close
	</button>
</div>
