@import '../../../../../theme/app.global.scss';

.card {
    color: #000000;
    width: 350px;
    border-radius: 10px;
    background: whitesmoke;
    box-shadow: 0 3px 11px 0 #e8eafc, 0 3px 3px -2px #b2b2b21a, 0 1px 8px 0 #9a9a9a1a;
    border: 1px solid #fff;

	@include transition(all, .2s, ease-out);

	.profile-picture {
		margin: 1em auto;
		display: block;

		width: 100%;
		max-width: 100px;
	}

	&:hover {
		box-shadow: none;
	}
}

.profile_button {
    color: #000000;
    padding: 10px;
    border: none;
    outline: 0 !important;
    border-radius: 50px;
    background: #EEEEEE;
	border: 1px solid #fff;

    @include transition(all, .2s, ease-out);

	&:hover {
		background: #ffc600;
		color: #000000;
	}
}

.num {
    color: #000000 !important
}

.line {
    color: #EEEEEE;
}
