<h1 mat-dialog-title>
	{{data.title}}
</h1>

<div mat-dialog-content class="mat-typography">
	<div class="row">
		<div class="col-12 col-md-12">
			<p class="p-4" style="padding-left: 0 !important;padding-right: 0 !important;">
				{{data.message}}
			</p>
		</div>
	</div>
</div>

<br />
<hr />

<div mat-dialog-actions align="end" style="margin:1em auto;margin-bottom: 0;">

	<button mat-button mat-flat-button color="primary" [mat-dialog-close]="true">
		Continue
	</button>
	<button mat-button mat-stroked-button color="accent" [mat-dialog-close]="false" cdkFocusInitial>
		Cancel
	</button>
</div>
