<div class="row">
	<div class="col-12" style="text-align: center;">
		<a [routerLink]="['../../']">
			<img src="./assets/images/tbwa_logo_white.png" class="form-logo" />
		</a>
	</div>
</div>
<mat-card class="form-card">
	<mat-card-title>
		Forgot Password
	</mat-card-title>
	<br />
	<form class="form-password-forgot" [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="form-row row">
			<div class="form-group col-12 col-md-12">
				<div class="mate-form-field-flex">
				<mat-form-field class="mat-form-field" appearance="fill">
					<mat-label>Email</mat-label>
					<input matInput type="email" placeholder="" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" required />
					<mat-error *ngIf="submitted && f['email'].errors" class="invalid-feedback">
						<div *ngIf="f['email'].errors['required']">Email is required</div>
						<div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
					</mat-error>
				</mat-form-field>
				</div>
			</div>
		</div>

		<mat-card-actions>
			<div class="form-group">
				<button [disabled]="loading" mat-flat-button color="primary">
					<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
					Submit
				</button>
				<a routerLink="../login" mat-stroked-button color="accent">Cancel</a>
			</div>

		</mat-card-actions>
	</form>
</mat-card>
