@import './../../../../../theme/app.global.scss';

::ng-deep .mat-card-actions{
	margin: 0 !important;
}
.mat-form-field {
	mat-label {
        color: #FFFFFF;
	}
	input,input::placeholder{
		color: #FFFFFF;
	}

}
.mate-form-field-flex{
	background-color: #222222;
	height: 59px;
	margin-bottom: 22px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form-logo {
	margin: 2em auto;
}


::ng-deep .mat-form-field {
	.mat-form-field-flex{
		background-color: #222222;
	}

	.mat-input-element,
	.mat-input-element::placeholder {
		color: #FFFFFF;
	}

	.mat-form-field-label {
        color: #FFFFFF;
    }
    .mat-form-field-underline {
        background-color: #ffc600;
    }
    .mat-form-field-ripple {
        background-color: slategray;
    }
    .mat-form-field-required-marker {
        color: #ffc600;
    }

	&.mat-focused {
		.mat-form-field-label {
        	color: #ffc600;
    	}
		.mat-form-field-ripple {
			background-color: #ffc600;
		}
	}

	&.mat-form-field-invalid {

	}
}

.mat-card {
	padding: 2em 3em;
	/* From https://css.glass */
	background: rgba(0, 0, 0, 0.38);
	border-radius: 0;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(0, 0, 0, 0.3);

	.mat-card-title {
		color: #999;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $font_family;
	}
}

.card-header {
	padding-left: 2.7em;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid get-color(primary, normal);
	background-color: get-color(primary, normal);
}

.form-password-forgot {
	label {
		margin: 1em auto;
	}

	input {
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	.form-group {
		margin-bottom: 1em;
	}

	h3 {
		text-transform: uppercase;
	}

	.mat-form-field {
		width: 100%;
	}

	.mat-flat-button,
	.mat-stroked-button {
		border-radius: 0;
	}

	@media screen and (max-width: get-media(s)) {
		.btn {
			font-size: 1em;
			padding: 1em 2em;
		}
	}
}

